<template>
  <div>
    <Navbar></Navbar>
    <div class="banner">
      <img src="http://swlabs.co/edugate/assets/images/banner-1.jpg" alt="a">
      <h1>NEWS&UPDATE</h1>
    </div>

    <div class="sub">
      <p>
        Subscribe
        <b>Edugate</b> to learn new creative skill
      </p>
      <button>Subscribe now</button>
    </div>

    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="card-perso">
            <img src="http://swlabs.co/edugate/assets/images/news/news-1.jpg" alt>
            <h2>
              E-Learn 2015 - World Conference On
              <br>Edugate Website
            </h2>
            <span>By Admin 17 | Sep 2015</span>
            <p>Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less.</p>
            <div>
              <button>Read more</button>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card-perso">
            <img src="http://swlabs.co/edugate/assets/images/news/news-1.jpg" alt>
            <h2>
              E-Learn 2015 - World Conference On
              <br>Edugate Website
            </h2>
            <span>By Admin 17 | Sep 2015</span>
            <p>Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less.</p>
            <div>
              <button>Read more</button>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card-perso">
            <img src="http://swlabs.co/edugate/assets/images/news/news-1.jpg" alt>
            <h2>
              E-Learn 2015 - World Conference On
              <br>Edugate Website
            </h2>
            <span>By Admin 17 | Sep 2015</span>
            <p>Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less.</p>
            <div>
              <button>Read more</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="green">
        <div>
          <p>BECOME AN INSTRUCTOR</p>
          <span>Join thousand of instructors and earn money hassle free!</span>
        </div>
        <button>Get started now</button>
      </div>
      <div class="footer-custom">todos os direitos reservados Copyright ©</div>
    </footer>
  </div>
</template>

<script>
import Navbar from "./layout/Navbar";
export default {
  components: { Navbar },
  props: {
    msg: String
  }
};
</script>

<style scoped lang="scss">
.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  font-size: 27px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  img {
    position: absolute;
    top: -150px;
    left: 0;
    width: 100%;
    z-index: -1;
  }
}
.sub {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  background-color: #eaedf5;
  padding: 0 10px;
  font-size: 22px;
}
.card-perso {
  margin-top: 80px;
  padding: 0 30px;
  background-color: #fafafa;
  border-bottom: 5px solid #eaedf5;
  text-align: left;
  img {
    margin-top: -50px;
    width: 100%;
  }
  h2 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  span {
    margin-bottom: 10px;
  }
  p {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  div {
    text-align: center;
    margin-bottom: 20px;
  }
}

div {
  button {
    padding: 10px 20px;
    border: none;
    background-color: #86bc42;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
  }
}
footer {
  margin-top: 50px;
  .green {
    background-color: #86bc42;
    padding: 25px 15px;
    display: flex;
    justify-content: space-around;
    div {
      color: #fff;
      text-align: left;

      p {
        font-size: 22px;
        font-weight: bold;
        display: block;
      }
      span {
        display: block;
      }
    }
    button {
      background-color: #242c42;
    }
  }
  .footer-custom {
    padding: 100px 20px;
    background-color: #242c42;
    color: #fff;
  }
}
</style>
